{% extends 'padre.html' %}


{% block contenidoQueCambia %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>¡Bienvenido a MangoApp!</h2>
                <p class="lead">En MangoApp conectamos vendedores con compradores entusiastas e invitamos a los inversores visionarios a apoyar a nuestros vendedores.</p>
                <p class="mb-0">Únete a MangoApp y sé parte de un ecosistema vibrante donde la colaboración y la oportunidad van de la mano. Transformamos ideas en éxitos y creamos un futuro lleno de posibiidades para vendedores, compradores e inversores.</p>
            </div>
        </div>
    </div>
</section>
{% endblock contenidoQueCambia %}
    

{% block formulariosAqui %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Únete a MangoApp</h2>
                <p class="lead">¡Únete a MangoApp hoy y sé parte de una comunidad innovadora!</p>
                <p class="lead"> Ya sea que estés buscando vender tus productos, encontrar ofertas únicas o invertir en ideas prometedoras, nuestra plataforma tiene algo para ti.</p>
                <p class="mb-0">No esperes más, aprovecha las oportunidades que MangoApp tiene para ofrecerte. Regístrate ahora y comienza a conectar, comprar, vender e invertir. Juntos, podemos transformar ideas en éxitos y crear un futuro lleno de posibilidades.</p>
            </div>
        </div>
    </div>
</section>
{% endblock formulariosAqui %}
    
    