{% extends 'padre.html' %}


{% block contenidoQueCambia %}
    <h1>Buscar Inversor</h1>
    <form method="get">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
    </form>
{% endblock contenidoQueCambia %}
    

{% block formulariosAqui %}
<ul>
    {% if request.GET.nombre_empresa or request.GET.rubro_empresa %}
    {% if results %}
        <ul>
            {% for inversor in results %}
                <li>{{ inversor.nombre_empresa }} - {{ inversor.rubro_empresa }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endif %}
</ul>
    <a href="{% url 'inicio' %}" class="btn">Volver a la página principal</a>
{% endblock formulariosAqui %}